<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information Security - Blog</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        min-height: 100vh;
        color: #333;
      }
      header > h1 {
        color: whitesmoke;
      }
      header {
        background-color: #2596be;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 2px black;
        background-color: #fff;
      }

      h1,
      h2 {
        color: #333;
      }

      p {
        line-height: 1.6;
      }

      footer {
        background-color: #333;
        color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
      }
      .navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      .navbar li {
        display: inline;
        float: right;
      }
      .navbar li a:hover {
        background-color: #334;
      }
      .navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-transform: capitalize;
        background-color: #333;
        background: transparent;
      }
      .navbar a {
        text-decoration: none;
        color: whitesmoke;
      }
      .blog-post {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #fff;
      }

      .blog-post h3 {
        color: #2596be;
      }
      .posted-by {
        font-style: italic;
        color: #777;
      }
    </style>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/logout">Logout</a></li>
      <li><a href="/home">Back</a></li>
    </ul>
    <header>
      <h1>Logged in as <%= currentUser.name %></h1>
      <p><b>Explore our latest blog posts!</b></p>
    </header>

    <section>
      <h2>Latest Blog Posts</h2>
      <!-- <div class="blog-post">
        <h3>Post Title 1</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          blandit odio vel vehicula condimentum.
        </p>
        <p class="posted-by">Posted by: <%= currentUser.name %></p>
      </div>
      <div class="blog-post">
        <h3>Post Title 2</h3>
        <p>
          Vestibulum at diam eu leo laoreet aliquet. Nulla facilisi. Curabitur
          hendrerit leo vitae purus tincidunt, id accumsan turpis tempus.
        </p>
      </div> -->
      <!-- Add more blog posts as needed -->
      <% if (postList.length == 0) { %>
      <p>No posts available</p>
      <% } else{ %> <% postList.forEach(element => { %>
      <div class="blog-post">
        <h3><%= element.title %></h3>
        <p><%= element.content %></p>
        <p class="posted-by">Posted by: <%= element.refUser %></p>
      </div>
      <% }) %> <% } %>
    </section>

    <footer>&copy; 2023 Angel Damcheski. All rights reserved.</footer>
  </body>
</html>
